* {
    box-sizing: border-box; 
    max-width: 100%;
} 
html {
    font-size: 62.5%; /* = default browser font-size is 16px */
} 
body {
    font-family: 'Roboto Mono', monospace;
    font-size: 1.6rem; 
    /* line-height: 1.5; */ 
    /* multiplies font-size by this number */
    background-color: white;
    max-width: 100%;
    margin: 0;
    padding: 0;
}
nav {
    margin: 1% 10% 1% 10%;
    /* background-color: aqua; */
}
a {
    border-radius: 10px;
    display: inline-block;
    background-color: palevioletred;
    padding: 1%;
    color: white;
    text-decoration: none;
}
h1 {
    font-family: 'Chelsea Market', cursive;
}
.plan {
    background-color: #FF764E;
}
.learn {
    background-color: #5ED3EB;
    margin-right: 26%;
    margin-left: 26%;
}
.involved {
    background-color: #FFCD69;
}
header img {
    border-radius: 50%;
}
footer {
    /* background-color: aqua; */
}
footer img {
    width: 100%;
    margin: 0;
    padding: 0;
}